Host bastion
  HostName {{ deploy_flask_app__bastion_public_ip }}
  User {{ deploy_flask_app_bastion_host_username }}
  IdentityFile {{ deploy_flask_app_bastion_ssh_private_key }}
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

{% for item in deploy_flask_app_vms.instances %}
Host {{ item.instance_id }}
  User {{ deploy_flask_app_workers_user_name }}
  HostName {{ item.private_ip_address }}
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  ProxyCommand ssh -T -q -o 'ForwardAgent yes' bastion 'ssh-add {{ deploy_flask_app_workers_ssh_private_key }} && nc %h %p'
{% endfor %}