{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "AddPublicReadCannedAcl",
            "Effect": "Allow",
            "Principal": { "AWS": "*" },
            "Action": [
                "s3:*"
            ],
            "Resource": [
              "arn:aws:s3:::{{ bucket_name_src }}/*",
            ],
        }
    ]
}