- name: A playbook to migrate an existing on prem VM running on KVM hypervisor to AWS
  hosts: localhost
  gather_facts: false

  module_defaults:
    group/aws:
      aws_access_key: "{{ aws_access_key | default(omit) }}"
      aws_secret_key: "{{ aws_secret_key | default(omit) }}"
      session_token: "{{ session_token | default(omit) }}"
      region: "{{ aws_region | default('us-east-1') }}"

  tasks:
    - name: Import 'cloud.aws_ops.clone_on_prem_vm' role
      ansible.builtin.import_role:
        name: cloud.aws_ops.clone_on_prem_vm
      vars:
        clone_on_prem_vm_source_vm_name: "{{ source_vm_name }}"
        clone_on_prem_vm_image_name: "{{ image_name }}"
        clone_on_prem_vm_uri: "{{ uri }}"
        clone_on_prem_vm_local_image_path: "{{ local_image_path }}"
        clone_on_prem_vm_overwrite: "{{ overwrite }}"
      delegate_to: kvm

    - name: Import 'cloud.aws_ops.import_image_and_run_aws_instance' role
      ansible.builtin.import_role:
        name: cloud.aws_ops.import_image_and_run_aws_instance
      vars:
        import_image_and_run_aws_instance_bucket_name: "{{ bucket_name }}"
        import_image_and_run_aws_instance_image_path: "{{ raw_image_path }}"
        import_image_and_run_aws_instance_instance_name: "{{ instance_name }}"
        import_image_and_run_aws_instance_instance_type: "{{ instance_type }}"
        import_image_and_run_aws_instance_import_image_task_name: "{{ import_image_task_name }}"
        import_image_and_run_aws_instance_keypair_name: "{{ keypair_name }}"
        import_image_and_run_aws_instance_security_groups: "{{ security_groups }}"
        import_image_and_run_aws_instance_vpc_subnet_id: "{{ vpc_subnet_id }}"
        import_image_and_run_aws_instance_volumes: "{{ volumes }}"
